#map {
    height: 400px;
    width: 100%;
}

form {
    padding-left: 10px;
}

button {
    margin-bottom: 10px;
}

body {
    background-color: #152836;
}

p {
    color: #ffffff;
    padding: 10px;
}