* {
    font-family: 'Arvo', sans-serif;
}

/*Navigation*/

nav {
    padding: 10px;
}

.navbar {
    background-color: #F4662F;
}

/*Footer*/
#footer {
    height: 100px;
    background-color: #F4662F;
    text-align: center;
}

#top {
    padding-top: 10px;
    padding-bottom: 10px;
}

#top a:link, #top a:visited {
    color: white;
    text-decoration: none;
}

#top a:hover {
    text-decoration: underline;
}