/*Header One*/
#background-one {
    background-image: url(https://images.unsplash.com/photo-1421622548261-c45bfe178854);
    background-position: center bottom;
    background-size: cover;
    overflow: hidden;
    position: static;
    height: 800px;
    clear: left;
}

#logo {
    width: 30%;
    margin: 200px auto;
}

.text-container {
    background-color: #AFC2A4;
    color: white;
    text-align: center;
    padding-top: 100px;
    padding-bottom: 100px;
    font-style: italic;
    font-weight: bold;

}

/*Header Two*/

#background-two {
    background-image: url(https://images.unsplash.com/photo-1466978913421-dad2ebd01d17);
    background-position: center bottom;
    background-size: cover;
    overflow: hidden;
    height: 800px;
    clear: left;
}

#box-two {
    text-align: center;
    background-color: black;
    opacity: 0.7;
    width: 50%;
    height: 350px;
    border-radius: 10px;
    margin: 200px auto;
}

div.scroll {
    align-content: center;
    height: 350px;
    overflow: scroll;
    color: white;
    position: relative;
}

@media screen and (max-width: 760px) {
    #logo {
        width: 100%;
        margin-top: 200px;;
    }

    #logo img {
        width: 350px;
        height: 350px;
    }

}

#content-box-one {

}

#content-box-two {

}

#content-box-three {

}
