/*---------------------------------------------
         
	HTML tags

---------------------------------------------*/

html {
    height: 100%;
}

body {
    background-color: #152836;
    height: 100%;
}

/*---------------------------------------------
         
	Menu fix

---------------------------------------------*/

.menu-container {
    margin: 0 auto;
    width: 960px;
}

a.navbar-brand {
    float: left;
}

.menu-block {
    margin-top: 5px;
    width: auto;
    float: left;
}

/*---------------------------------------------
         
	Content

---------------------------------------------*/

.container {
    padding-left: 20px;
    padding-right: 20px;
}

.row {
    margin-bottom: 20px;
    padding-left: 15px;
    padding-right: 15px;
}

.menu-background {
    width: auto;
    min-height: 100%;
    margin-top: 40px;
    background-color: white;
    border-top-left-radius: 20px;
    border-top-right-radius: 20px;
    position: relative;
    display: block;
}

h1.page-title {
    overflow: hidden;
    padding-top: 30px;
    width: auto;
    font-size: 50px;
    text-align: center;
    text-transform: uppercase;
}

h2 {
    padding: 10px;
    padding-left: 30px;
    color: white;
    font-weight: lighter;
    text-transform: uppercase;
}

.column-left {
    padding-left: 30px;
    margin-top: 50px;
    float: left;
    width: 33%;
    border-right: solid 2px black;
}

.column-middle {
    padding-left: 30px;
    margin-top: 50px;
    float: left;
    width: 33%;
    border-right: solid 2px black;
}

.column-last {
    padding-left: 30px;
    padding-right: 15px;
    margin-top: 50px;
    float: left;
    width: 33%;
}

h2.title-block {
    width: 100%;
    display: block;
    background-color: black;
    position: relative;
    top: 30px;
    height: auto;
}

span.menu-item {
    font-size: 24px;
    font-weight: bold;
    text-transform: uppercase;
    padding-right: 10px;
}

span.price {
    color: crimson;
    font-size: 20px
}

span.side-item {
    font-size: 18px;
    font-weight: bold;
    text-transform: uppercase;
    padding-right: 10px;
}

span.side-price {
    color: crimson;
    font-size: 16px
}

p.food-menu {
    margin-bottom: 20px;
    margin-right: 10px;
}

a.rollover {
    margin-right: 10px;
    margin-left: 10px;
    display: block;
    height: auto;
}

a.rollover:hover {
    background-color: lightgrey;
    border-radius: 10px;
}

img.burger {
    width: 350px;
}

/*---------------------------------------------
         
	Media queries

---------------------------------------------*/

@media only screen and (max-width: 990px) {

    span.menu-item, span.side-item {
        font-size: 16px;
    }

    span.price, span.side-price {
        font-size: 16px;
    }

    p.food-menu {
        font-size: 14px;
    }

    img.burger {
        width: 40%;
    }

}

@media only screen and (max-width: 760px) {

    .container {
        min-width: 100%;
    }

    .column-left, .column-middle, .column-last {
        width: 50%;
        padding-right: 10px;
    }

    .column-middle {
        border: 0px;
    }

    .column-last {
        border-right: solid 2px black;
    }
}

@media only screen and (max-width: 480px) {

    .container {
        min-width: 100%;
    }

    .column-left, .column-middle, .column-last {
        width: 100%;
        padding-right: 10px;
        border: 0px;
    }

    .column-middle, .column-left {
        border-bottom: 2px solid black;
    }
}
	
	
