/*---------------------------------------------*/
         /*body*/
/*---------------------------------------------*/

body {
  background-color: #100d0d;
  color: #eee;
  font-family: "Open Sans", "Helvetica Neue", Helvetica, Arial, sans-serif

}


/*---------------------------------------------*/
         /*Header*/
/*---------------------------------------------*/

.navbar {
    max-height: 500px;
    background-color: #C70039; 
}


/*---------------------------------------------*/
         /*main content*/
/*---------------------------------------------*/



.cont {
  text-align: center;

}

.page-head {
  padding: 40px 0;
  text-align: center;
  margin-top: -100px;   
}

.page-head .lead {
  font-size: 25px;
  font-weight: 400;
  line-height: 1.4;
  margin-bottom: 50px;
  margin-top: 20px;

}

.page-head h1 {
  font-size: 52px;
  margin: 50px 0 20px;
  color: #F4662F;
  position: relative;
  display: inline-block;
}

.cont{
  margin-top: 100px;
  line-height: 2.5; 
}

.row img{
  margin: 20px;
  padding: 5px;
  border-radius: 50%;
  border:10px solid #F4662F;
}



/*---------------------------------------------*/
         /*footer*/
/*---------------------------------------------*/
#footer {
    width: 100%;
    height: auto;
    background-color: #C70039;
    text-align: center;
    margin-top: 70px;
}
#top {
    padding-top: 10px;
    padding-bottom: 10px;
}

#top a:link, #top a:visited {
    color: white;
    text-decoration: none;
}

#top a:hover {
    text-decoration: underline;
}


/*---------------------------------------------*/
         /*Screen Max-width*/
/*---------------------------------------------*/

     